:root {
  --vt-c-white: #ffffff;
  --vt-c-black: #181818;
  --vt-c-indigo: #2c3e50;
}

/* 项目语义颜色变量 */
:root {
  --color-background: linear-gradient(135deg, #f9f9f9 0%, #fff5f0 100%); /* 设置为你想要的背景色 */
  --color-text: var(--vt-c-indigo);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
